.grid {
    display: grid;
    background-color: gray;
    gap: 10px;
    height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    place-content: space-evenly space-evenly;
}

.header {
    background-color:darkorchid;
}

.content {
    background-color: #A396B1;
}

.nav {
    background-color: #FBD2C8;
}

.footer {
    background-color: #37306A;
    color: white;
}