.grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(20px, max-content));
    grid-auto-rows: 100px;
    margin-bottom: 30px;
}

.item:nth-child(odd){
    background-color: green;
    color: white;
}

.item:nth-child(even){
    background-color: blue;
    color: white;
}

/* .grid:first-child{ */
    /* grid-template-columns: repeat(5, minmax(100px,1fr)); */
/* } */
/*  */
/* .grid:last-child{ */
    /* grid-template-columns: repeat(5, minmax(100px,1fr)); */
/* } */