.grid {
    display: grid;
    gap: 10px;
    height: 50vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    place-items: center end;

}

.header {
    background-color:darkorchid;
}

.content {
    background-color: #A396B1;
}

.nav {
    background-color: #FBD2C8;
}

.footer {
    background-color: #37306A;
    color: white;
}