@import "_veriable";

*{
    box-sizing: border-box;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin-top: 40px;
}

.header {
    width: 100%;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 0 5px;
    h1 {
        font-size: 22px;
        text-transform: uppercase;
        cursor: pointer;
    }
    nav {
        ul {
            display: flex;
            li {
                font-size: 26px;
                display: flex;
                align-items: center;
                &:nth-child(1){
                    span{
                        background-color:#FC7A40;
                    }
                }
                &:nth-child(2){
                    span{
                        background-color:#D5A235;
                    }
                }
                &:nth-child(3){
                    span{
                        background-color:#6D94CF;
                    }
                }
                &:nth-child(5){
                    span{
                        background-color:#DECCAA;
                    }
                }
                &:nth-child(6){
                    span{
                        background-color:#ADA86A;
                    }
                }
                span {
                    margin-right: 5px;
                    height: 18px;
                    width: 18px;
                    background-color: red;
                    border-radius: 50%;
                }
                a {
                    color: inherit;
                    text-decoration: none;
                    text-transform: uppercase;
                }
                &:not(:last-child){
                    margin-right: 20px;
                }
            }
        }
    }
}

.posts {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-auto-rows: 55vh;
    .post {
        cursor: pointer;
        padding: 20px;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        footer {
            width: 100%;
            display: flex;
            justify-content: space-between;
            letter-spacing: 1px;
        }
        &:nth-child(3n + 1){
            background-color: #DECCAA;
        }
        &:nth-child(3n + 2){
            background-color: #5E8DCF;
        }
        &:nth-child(3n + 3){
            background-color: #ADD396;
        }
        .post_content {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .visable{
                height: 50vh;
                display: flex;
                align-items: center;
            h3 {
                    flex-direction: column;
                    line-height: 1.3;
                    letter-spacing: 2px;
                    font-size: 24px;
                    text-align: center;
                }
            }
            .invisable {
                display: none;
                height: 100%;
                width: 100%;
                background-image: url("https://images.prismic.io/beige/64a3fa89-a3e9-4d89-bf48-81f697051020_Beige-Beauty-Favoriten-Juni-2022-Marie-17.JPG?auto=compress,format?");
                background-position: center center;
                background-size: cover;
            }
        }
        &:hover {
            .post_content {
                .visable {
                display: none;
                }
                .invisable {
                    display: block;
                }
            }
        }
    }
}