@import url("https://fonts.googleapis.com/css?family=Yrsa:400,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");
@import "_veriable";

*{
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin-top: 60px;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    width: 100%;
    padding: 0 10%;
    h1{
        place-self: center center;
        font-family: 'Yrsa';
    }
    > span {
        justify-self: end;
    }
    nav{
        ul{
            display: flex;
            font-family: "Montserrat", sans-serif;
            li:not(:last-child){
                 margin-right: 10px;
            }
        }
    }
    .logo_name {
        font-size: 38px;
        font-weight: 500;
        display: flex;
        div {
            transform: rotateZ(-15deg);
            margin-left: 0 -3px;
        }
    }
}

.home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: calc( 100vh - 60px);
    .main_image {
        background-image: url('https://source.unsplash.com/random');
        background-size: cover;
        background-position: center center;
    }
    .main_text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h2 {
            font-family: 'Yrsa';
            font-size: 52px;
            text-align: center;
            width: 70%;
            font-weight: 500;
            margin-bottom: 40px;
        }
        span {
            font-size: 12px;
        }
    }
}



a {
    font-weight: 600;
    color:$orange;
}
.middle{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EFCB56;
    flex-direction: column;
    h3 {
        font-family: 'Yrsa';
        font-size: 50px;
        font-weight: 500;
        margin-bottom: 30px;
    }
    p {
        font-family: 'Yrsa';
        width: 50%;
        text-align: center;
        font-size: 33px;
        margin-bottom: 30px;
    }
    span {
        font-size: 12px;
    }
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 50vh;
    .gallery_picture {
        background-size: cover;
        background-position: center;
        background-image: url("https://source.unsplash.com/random/"); 
        transition: all 0.2s linear;
        overflow: hidden;
        cursor: pointer;
        &:first-child,
        &:nth-child(5),
        &:nth-child(7),
        &:nth-child(10) {
            grid-column-start: span 2;
        }
        &:hover {
            filter: blur(50px);
        }
    }
}