@import "_minis";

h1{
    color: red;
    @include responsive("iphone"){
        color: green;
    }

    @include responsive("iphone-l"){
        color: blue;
        font-size: 60px;
    }

    @include responsive("tablet"){
        background-color: green;
    }
}
    


